<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    
  <listener>
    <listener-class>edu.iu.uis.eden.test.stress.StressTestInitializer</listener-class>
  </listener>  
  
  <servlet>
    <servlet-name>StressTestServlet</servlet-name>
    <display-name>Stress Test Servlet</display-name>
    <servlet-class>edu.iu.uis.eden.test.stress.StressTestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>StressTestServlet</servlet-name>
    <url-pattern>/StressTest</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>  

</web-app>