<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!--
  This is the recommended Maven settings.xml file to use when building the Rice source code.
  Make use of this file via the "settings" command line argument OR copy it to ~/.m2/repository/settings.xml
  where Maven will find it automatically
  -->

  <!-- 
   Create a mirror for "*" so Maven will download all artifacts via Kuali's Nexus cluster
   
   Kuali's Nexus proxies Maven Central and also provides access to a handful of artifacts
   Maven Central does not have
   -->
  <mirrors>
    <mirror>
      <id>kuali.public</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus.kuali.org/content/groups/public</url>
    </mirror>
  </mirrors>
</settings>
