<config>
    <param name="application.url">http://localhost:8080/${app.context.name}</param>
    <param name="workflow.url">${application.url}/en</param>
    <param name="notification.basewebappurl">${application.url}/ken</param>
    <param name="kr.url">${application.url}/kr</param>
    <param name="serviceServletUrl">${application.url}/remoting/</param>

    <param name="datasource.ojb.platform">Oracle9i</param>
	<param name="datasource.url">jdbc:oracle:thin:@esdb12-k.uits.indiana.edu:1521:KUALI</param>
	<param name="datasource.username">KRDEV</param
	<param name="datasource.password">!!!!!!!!!!!!!!!!!! ASK YOUR TEAM !!!!!!!!!!!!!!!!!!!</param>

    <param name="keystore.alias">rice</param>
    <param name="keystore.password">r1c3pw</param>
    <param name="keystore.file">${basedir}/src/test/resources/keystore/ricekeystore</param>
    <param name="keystore.location">${basedir}/src/test/resources/keystore/ricekeystore</param>
</config>