/** Tab Menus ********************************************************************************************/

.tab-navigation-block {
  padding: 0 !important;
  padding-left: 20px !important;
  background-color: white;
  width: 100%;
  z-index: 4;
}
.tab-navigation-block li {
  float: left;
  list-style: none outside none;
  margin: 0 0.2em 1px 0;
  padding: 0;
  position: relative;
  top: 2px;
  *top: 1px;
  white-space: nowrap;
  clear: none;
}
.tab-navigation-block li a {
  float: left;
  padding: 0.5em;
  margin-bottom: 0;
  text-decoration: none;
}
.ui-widget {
  font-family: inherit !important;
  font-size: inherit !important;
}
.ui-tabs.ui-widget-content {
  border: none;
}
.ui-tabs li {
  clear: none;
}
.ui-tabs-vertical {
  width: 85.5em;
}
.ui-tabs-nav li.ui-state-active.ui-state-hover {
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
}
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em !important;
  float: right;
  width: 70em;
}
.ui-tabs-vertical-right .ui-tabs-nav {
  padding: .2em .2em .2em .1em;
  float: right;
  width: 13em;
  margin-left: 0;
}
.ui-tabs-vertical-right .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-bottom: 1px solid black !important;
  border-left-width: 0 !important;
  margin: 0 0 .2em -1px;
}
.ui-tabs-vertical-right .ui-tabs-nav li.ui-state-active {
  padding-bottom: 0;
  padding-left: .1em;
  border-right-width: 1px;
  margin-left: -2px;
}
.ui-tabs-vertical-left .ui-tabs-panel {
  clear: none !important;
}
.ui-tabs-vertical-left .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 13em;
  margin: 0;
}
.ui-tabs-vertical-left .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-bottom: 1px solid black !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}
.ui-tabs-vertical-left .ui-tabs-nav li.ui-state-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
  border-right-width: 1px;
}
.ui-tabs-bottom .ui-tabs-nav {
  clear: left;
  padding: 0 .2em .2em .2em;
}
.ui-tabs-bottom .ui-tabs-nav li {
  top: auto;
  bottom: 0;
  margin: 0 .2em 1px 0;
  border-bottom: 1px solid black !important;
  border-top: 0 none !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-state-active {
  margin-top: -1px;
  padding-top: 1px;
}


.ui-tabs div[role="tabpanel"] {
  margin-top: 18px;
}