/* tweaks to jstree css for agenda tree view */

/* .jstree-default a { border: 1px solid black; padding: 5px; background-color:#ccebff;  -moz-border-radius: 5px; border-radius: 5px; } */

.logicNode { border: 1px solid black; -moz-border-radius: 4px; border-radius: 4px; font-weight: bold; padding: 2pt; padding-left: 5pt; padding-right: 5pt; margin-bottom: 2pt; }
.logicNode .jstree-open { margin-bottom: 2pt; }

/*
.logicNode a { padding: 1px; padding-left: 10px; padding-right: 10px; margin-bottom: 4px; margin-top: 4px; }
*/
.whenTrueNode { background-color:#ccebff; }
.whenFalseNode { background-color:#ffddbb; }

/* 
.ruleNode { background-color: #E4E3E4; border: 1px solid #ccc; width: 800pt;}
*/
.jstree-default li.jstree-last { margin-bottom: 5pt; }

/*
.jstree-default .jstree-clicked .ruleNode a { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree-default .jstree-hovered .ruleNode a { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
*/

.jstree li { margin-top 3pt; }