/* tweaks to jstree css for agenda tree view */

.logicNode { border: 1px solid #ccd; background-color:#dde; /* -moz-border-radius: 3px; border-radius: 3px; */ font-weight: bold; padding-bottom: 2pt; padding-top: 2pt; 
                padding-left: 10pt; padding-right: 10pt; margin-bottom: 2pt; }
.logicNode .jstree-open { margin-bottom: 2pt; }

.krmsDisabled 
{ 
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

/* trying to make the tree not so cramped: */

.jstree-default li.jstree-last { margin-bottom: 5pt; }

.jstree li { margin-top 3pt; }