


table.dataTable th:active {
  outline: inherit;
}
table.dataTable th {
  border-bottom-color: #e5e5e5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table.dataTable th.sorting {
  background-image: url(../images/icon-sort.png);
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: right center;
}
table.dataTable th.sorting_desc {
  color: #FFF;
  border-left-style: none;
  background-image: url(../images/icon-sort-down.png);
  background-color: #666;
  background-repeat: no-repeat;
  background-position: right center;
}
table.dataTable th.sorting_asc {
  color: #FFF;
  border-left-style: none;
  background-image: url(../images/icon-sort-up.png);
  background-color: #666;
  background-repeat: no-repeat;
  background-position: right center;
}
table.dataTable thead th {
  cursor: default;
}
table.dataTable tfoot th {
  font-weight: normal;
  padding: 3px 10px;
}



table.uif-lightTable{width:100%;}

table.dataTable tr.even {
  background-color: white;
}
table.dataTable tr.odd {
  background-color: white;
}
table.dataTable tr.odd td.sorting_1 {
  background-color: #f6feff;
}
table.dataTable tr.even td.sorting_1 {
  background-color: #f6feff;
}
table.dataTable tr.uif-newCollectionItem {
  background-color: #FFFFCC;
}
table.dataTable tr.uif-newCollectionItem td.sorting_1 {
  background-color: #FFFFCC;
}
table.dataTable tr.uif-collectionDeleteHighlight {
  background-color: #FFE1E9;
}
table.dataTable tr.uif-collectionDeleteHighlight td.sorting_1 {
  background-color: #FFE1E9;
}



.dataTables_info {
  width: 50%;
  float: left;
}