.formTable {
    padding: 5px;
    border: 1px solid #ccc;
}

.centeredContainer {
    text-align: left;
}

.errorList {
    border: 1px solid #ffcccc;
}

.errorItem {
    color: #ff0000;
    margin-top: 5px;
    margin-bottom: 5px;
}