@charset "UTF-8";
/* CSS Document */

/* GENERAL - applies to all look and feel (KNS and KS)********************/

a{
	font-weight:normal;
	cursor: pointer;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
:focus{
	outline: 1px dotted #000;
}
textarea{
    font-size:0.923077em;
    font-family: Arial, Helvetica, sans-serif;
}
table td, table th {
	vertical-align:top;
	text-align:left;
}
.watermark {			/* NOT renamed in xml and/or jsp, as this will break js functionality   */
    /* not sure if this is still necessary, now that html5 has the "placeholder" attribute */
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.923077em;
}


/* CONTAINERS - e.g.: kr-nav-menu, ks-error-cont *************************/


.constraint {                  /* NOT RENAMED - changing this classname will break some javascript functionality  */
	font-size:0.813em;
	/* begin styles brought over from kuali-stacked.css  */
	color: gray;
	margin-bottom: 5px;
	margin-top: 5px;
	display: block; 
}

/* headers */
h1.kr-page-title-header {		/* was h1.page-title-header */ /* renamed in xml and/or jsp */
	margin:0;
}
h2.kr-page-action {				/* was h2.page-action */ /* renamed in xml and/or jsp */
	font-weight:normal;
	margin:0;
}
h3.kr-page-section-title {		/* was h2.page-section-title */ /* renamed in xml and/or jsp */
	font-weight: bold;
	margin:0;
}
h4.kr-section-subhead-no-border {	/* was h4.kr-section-subhead-no-border */ /* renamed in xml and/or jsp */
	border-bottom:none;
	padding-bottom: 0.3em;
	margin:0;
}
.kr-page-action h2 {			/* was .page-action h2 */ /* renamed in xml and/or jsp */
	clear:left;
}
.kr-field-attribute {			/* was .field_attribute */ /* renamed in xml and/or jsp */
    float:left;
}
.kr-field-attribute img {
    margin-left:7px;
}
.kr-field-attribute .kr-labelTop label {   /* was .field_attribute .labelTop label */  /* renamed in xml and/or jsp */
	margin: 5px 5px 0px 0px;  /* field top labels should not have left-margins  -David */
}
.kr-field-attribute span {			/* was .field_attribute span */ /* renamed in xml and/or jsp */
	clear:left;/*float:left;       removing for non-table display, but may possibly break elsewhere - David */
    }
.kr-field-attribute input {			/* was .field_attribute input */ /* renamed in xml and/or jsp */
/*float:left;        removing for non-table display. Not sure why we need to pull input from inline flow */
    }
.kr-field-attribute .summary {		/* was .field_attribute .summary */ /* renamed in xml and/or jsp */
	line-height: 1.125em;
	/* begin styles brought over from kuali-stacked.css  */
	margin-bottom: auto;
	padding-bottom: 0.5em;
}
.kr-labelTop {						/* was .labelTop */ /* renamed in xml and/or jsp */
	float:none;
	display:block;
}
.kr-labelTop label {				/* was .labelTop label */ /* renamed in xml and/or jsp */
	font-weight:bold;
}

.kr-errorsField .kr-errorMessages { /* was .errorsField .errorMessages */
	color: #DF0000;
	font-weight: bold;
    background-position: 3px 1px;         /* adjusting the error icon position for this 1 scenario */
}
.kr-errorMessages {
    padding-left: 25px;
	background: url("../../images/exclamation-red.png") no-repeat scroll 3px 4px transparent;
}
.kr-clientError img {
	margin-left:10px;   /* adds spacing between tab label and the icon */
}
span.kr-clientError, div.kr-clientError, td.kr-clientError, span.kr-serverError, div.kr-serverError, td.kr-serverError {
	background-color: #FFE0E9 !important;
}
span.kr-information, div.kr-information, td.kr-information {
    background-color:#AFDCED;
}
.kr-warningMessages, .kr-infoMessages {
    color:#000000;
}
span.kr-warning, div.kr-warning, td.kr-warning {	/* was span.warning, div.arning, td.warning */
	background-color: #F4E271;
}
label.kr-clientError, a.kr-clientError, label.kr-serverError {
	color: #DF0000;
}
li label.kr-error {
	display: inline !important;
}

.kr-errorsField {					/* was .errorsField */  /* renamed in xml and/or jsp */
	overflow: hidden;
    *zoom: 1;
    color: #DF0000;
}
.kr-errorsFieldForContainer {		/* was .errorsFieldForContainer */ /* renamed in xml and/or jsp */
	float: none;
	zoom:1;
 *display:inline;
}

.kr-warningMessages {		/* was .warningMessages */ /* renamed in xml and/or jsp */
	padding-left: 25px;
	background: url("../../images/exclamation-diamond-frame.png") no-repeat scroll 3px 4px transparent;
}
.kr-warningMessages span {
    display:inline-block;
    margin-bottom: 5px;
}
.kr-errorsField>.kr-errorsField .kr-warningMessages, .kr-errorsField>.kr-errorsField .kr-infoMessages, .kr-errorsField>.kr-errorsField .kr-errorMessages {          /* this is for the special case of listed icons in one message, so the icon doesn't cut off */
    background-position: 3px 0px;
}
.kr-infoMessages {			/* was .infoMessages*/ /* renamed in xml and/or jsp */
	padding-left: 25px;
    background: url("../../images/information-frame.png") no-repeat scroll 3px 4px transparent;
	}
.kr-errorsFieldForContainer .kr-errorMessages, .kr-errorsFieldForContainer .kr-warningMessages, .kr-errorsFieldForContainer .kr-infoMessages{
    margin: 3px 0;
    padding: 5px 10px 5px 25px;
    width:50%;
    background-position: 3px 4px;
}
.kr-errorsFieldForContainer .kr-errorMessages {		/* was .errorsFieldForContainer .errorMessages */ /* .errorsFieldForContainer renamed in xml; .errorMessages NOT renamed, as this will break js functionality   */
	border: 1px solid red;
	background-color: #FFE0E9;
}
.kr-errorsFieldForContainer .kr-warningMessages {	/* was .errorsFieldForContainer .warningMessages *//* renamed in xml and/or jsp */
	border: 1px solid goldenrod;
	background-color: #F4E271;
}
.kr-errorsFieldForContainer .kr-infoMessages {	/* was .errorsFieldForContainer .infoMessages*/ /* renamed in xml and/or jsp */
	border: 1px solid #82CAFA;
	background-color: #AFDCEC;
}
.kr-errorsField ul {		/* was .errorsField ul*/ /* renamed in xml and/or jsp */
	list-style: none outside none;
	margin: 0;
}
.kr-errorsField li {		/* was .errorsField li */ /* renamed in xml and/or jsp */
	list-style: none outside none;
	margin-left: 0;
    margin-bottom:5px;
	padding: 1px 0;
	line-height: 1.3em;
    display:block;
}
.errorLines label {
    font-weight:normal;
}
.errorLines li {
    font-weight:normal;
    margin-bottom:5px;
}

/* breadcrumbs */

.kr-breadcrumbs { 					/* was .breadcrumbs */ /* renamed in xml and/or jsp */
    display: block;
    width: 100%;
    letter-spacing: 0.02em;
 }

 .kr-breadcrumbs a {		/*  was .breadcrumbs a*/ /* renamed in xml and/or jsp */
	text-decoration: none;
 }

 .kr-breadcrumbs a:visited{		/* was .breadcrumbs a:visited*/ /* renamed in xml and/or jsp */
	text-decoration: none;
 }

 .kr-breadcrumbs a:focus, .kr-breadcrumbs a:hover{  /* was .breadcrumbs a:focus, .breadcrumbs a:hover*/ /* renamed in xml and/or jsp */
 	text-decoration: underline;
 }

 .kr-breadcrumbs ol, li{   /* was .breadcrumbs ol, li*/ /* renamed in xml and/or jsp */
    display: inline;
    margin: 0;
    list-style: none;
    width: auto;
}



/* COMPONENTS - e.g.: kr-button-one, ks-button-secondary ****************/
/* button styles */

.kr-button-primary { /* was .button-primary */ /* renamed in xml and/or jsp */
	cursor:pointer;
    padding: 0.6em 2em;
   /*remove extra padding in IE*/
   overflow: visible;
}
.kr-button-secondary1 { /* was .button-secondary1 */ /* renamed in xml and/or jsp */
	cursor:pointer;
	/*remove extra padding in IE*/
	overflow: visible;
	padding: 0.1em 2.1em;
}
.kr-button-secondary2, .kr-button-secondary2:hover {				/* was .button-secondary2 */ /* NOT FOUND in xml and/or jsp */
	cursor:pointer;
	/*remove extra padding in IE*/
	overflow: visible;
	padding: 0.1em 2.1em;
}
.kr-button-primary a, .kr-button-primary a:link, .kr-button-primary a:visited {		/* was .button-primary a, .button-primary a:link, .button-primary a:visited */ /* renamed in xml and/or jsp */
	text-decoration:none;
}

/* LAYOUTS - e.g.: kr-box-horizontal, ks-left, ks-right *****************/
.clearfix {
	clear:both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE specific */
* html .clearfix {
	height: 1%;
}
.boxLayoutHorizontalItem {
	float:left;
	display:block;
	margin-right:3em;
}

.fieldContainerVerticalItem {
	padding-bottom: 5px;
	display: block;
}

.boxLayoutVerticalItem{
	padding-bottom: 20px;
	display: block;
}
tr.kr-addLine {
    background-color: #F2F2F2 !important;
    border: 1px solid #D3D3D3 !important;
}
tr.kr-addLine td.sorting_1 {
    background-color: #F2F2F2 !important;
}

div.kr-addLine, span.kr-addLine{
    background-color: #F2F2F2 !important;
    border: 1px solid #D3D3D3 !important;
}

/* JQUERY - e.g.: ui-calendar *******************************************/



/* date-picker */


.ui-datepicker-trigger {
	cursor: pointer;
}
  
  

/* fg buttons */
.fg-button {
   outline: 0;
   margin:0 4px 0 0;
   padding: 0.1em 2.4em;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
   zoom: 1;
   }
   .fg-button .ui-icon {
   position: absolute;
   top: 50%;
   margin-top: -8px;
   left: 50%;
   margin-left: -8px;
   }
   a.fg-button {
   float:left;
   }
   /* remove extra button width in IE */
   button.fg-button {
   width:auto;
   overflow:visible;
   }
   .fg-button-icon-left {
   padding-left: 2.5em;
   padding-right: 1.4em;
   }
   .fg-button-icon-right {
   padding-right: 2.1em;
   }
   .fg-button-icon-left .ui-icon {
   right: auto;
   left: 0.8em;
   margin-left: 0;
   }
   .fg-button-icon-right .ui-icon {
   left: auto;
   right: .2em;
   margin-left: 0;
   }
   .fg-button-icon-solo {
   display:block;
   width:8px;
   text-indent: -9999px;
   }	 /* solo icon buttons must have block properties for the text-indent to work */
   
   
   
   
   button, a{
    overflow: visible;
    white-space:nowrap;
    width:auto;
    cursor: pointer;
}

button img{
    vertical-align: middle;
}

button span.topBottomSpan{
    display: block;
    text-align: center;
    width: 100%;
}

button img.topActionImage{
    margin-bottom: 1px;
}

button img.bottomActionImage{
    margin-top: 1px;
}

button img.leftActionImage, a img.leftActionImage{
    margin-right: 5px;
}

button img.rightActionImage, a img.rightActionImage{
    margin-left: 5px;
}
   
   

/* tabs */
/* Tab menu */
.tab-navigation-block {
	padding: 0 !important;
	padding-left: 20px !important;
}

.tab-navigation-block li {
	float: left;
	list-style: none outside none;
	margin: 0 0.2em 1px 0;
	padding: 0;
	position: relative;
	top: 2px;
 	*top: 1px;
	white-space: nowrap;
	clear: none;
}

.tab-navigation-block li a {
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}

.tab-navigation-block li.ui-state-active a {
	color: black !important;
}

.ui-tabs li {
	clear: none;
}

 /* TEMPORARY JQUERY STYLES (until jquery-ui-1.8.11.css is included) */
/*
 * jQuery UI CSS Framework 1.8.11
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/*Navigation Menu*/

.navigation-parent-div{
	margin-left: 225px;
}

.navigation-div{
	float: left;
	margin-left: -225px;
}

.navigation-block {
   float: left;
   width: 219px;
}

/*
Basic Navigation Menu
*/
ul.basic-navigation {
    list-style: none outside none;
    padding: 0;
    margin-left: 25px;

}

ul.basic-navigation li{
  
    border-bottom: 1px solid #bebebe;
}

ul.basic-navigation li.basic-element h3, ul.basic-navigation li.basic-element h2 {

    display: block;
    margin: 0;
    padding: 5px 10px;
	
}

ul.basic-navigation li.basic-element a {
    display: block;
    padding: 5px 10px;
}

ul.basic-navigation li.basic-element a:hover, ul.basic-navigation li.basic-element a:focus {

}

ul.basic-navigation li.basic-element a.current {
	
}

/*
Animated Navigation Menu
*/
ul.animated-navigation {
    list-style: none outside none;
    padding: 0;
    margin-top: 0px;
}
ul.animated-navigation li{
    padding: 0;
}
ul.animated-navigation li.animated-element h3, ul.animated-navigation li.animated-element h2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    color: #333333;
    display: block;
    margin-bottom: 0;
    padding: 5px 18px;
    width: 150px;
	font-weight: normal;
    margin-top: 0px;
    font-size: .9em;
}

ul.animated-navigation li.animated-element a {
	background-color: #E3E4E2;
    display: block;
    margin-top: 1px;
	/*
	Changing the padding here will require updating the script to correct return padding (pad_in)
	*/
    padding: 5px 18px;
    width: 150px;
    border: 1px solid #1A1A1A;
    color: #333333;
    text-decoration: none;
}

ul.animated-navigation li.animated-element a:hover, ul.animated-navigation li.animated-element a:focus {
    background: none repeat scroll 0 0 #889606;
    color: white;
}
ul.animated-navigation li.animated-element a.current {
	background-color:#636D05;
	padding-left: 25px !important;
	color: white;
}

/*
Navigation Slide Control
*/

.slideLink{
	padding-left: .5em;
	float: left;
}

.collapseLink{
	float: right;

	padding-bottom: 5px;
}


/* accessibility */

.offScreen{
    position: absolute;
    left: -200em;
    width: 10em;
    overflow: hidden;
}

