<!-- This is a sample of the common config file included by all unit tests.
     Copy this file into your home directory under kuali/test/dev/common-test-config.xml, and change the
     datasource settings for your unit test datasource (don't forget this db needs the rice_test.sql table
     in it in order for unit tests to run).
-->

<config>
    <param name="datasource.url">jdbc:oracle:thin:@HOSTNAME:1521:SCHEMA</param>
    <param name="datasource.username">USER</param>
    <param name="datasource.password">PASSWORD</param>

    <param name="datasource.ojb.platform">Oracle9i</param>
    <param name="datasource.platform">edu.iu.uis.eden.database.platform.OraclePlatform</param>
    <param name="datasource.driver.name">oracle.jdbc.driver.OracleDriver</param>
    <param name="datasource.pool.validationQuery">select 1 from dual</param>
    <param name="datasource.pool.maxWait">30000</param>
    <param name="datasource.pool.minSize">0</param>
    <param name="datasource.pool.maxSize">50</param>
    <param name="datasource.pool.size">10</param>
</config>