


/*  -------------------  BREADCRUMB  -------------------  */

.breadcrumbs{
    border-bottom: 1px dotted #C9C9C9;
    border-top: 1px dotted #C9C9C9;
    clear: both;
    color: #777777;
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: 0.02em;
    padding: 3px 0 3px 15px;
 }
 
 .breadcrumbs span{
 	color: #777777;
 }
 
 .breadcrumbs a{
    color: #777777;
    text-decoration: none;
 }
 
 .breadcrumbs a:visited{
 	color: #777777;
 	text-decoration: none;
 }
 
 .breadcrumbs a:focus, .breadcrumbs a:hover{
 	text-decoration: underline;
 }
 
 .breadcrumbs .current{
 	color: #555555;
 }
