 .button-primary {
	border: 1px solid #054ccf;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #e2e4fa, #c3d1f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2e4fa), color-stop(1, #c3d1f2));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e2e4fa', EndColorStr='#c3d1f2')";
	/* fallback for < 8 versions of IE*/
	background-color:#DFF0FF;
	font-weight: normal;
	color: #2c60e5;
	font-size:1.07692308em;   /* 14px divided by 13px */
	padding: 0.6em 2em;
	/*remove extra padding in IE*/
	overflow: visible;
	text-shadow: 0px 1px 0px #83d485;
	filter: dropshadow(color=#83d485, offX=0, offY=1);
}
 .button-secondary1 {
	border: 1px solid #054ccf;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #e2e4fa, #c3d1f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2e4fa), color-stop(1, #c3d1f2));
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e2e4fa', EndColorStr='#c3d1f2')";    */
	/* fallback for < 8 versions of IE*/
     filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e4fa', endColorstr='#c3d1f2'); /* IE6 & IE7 */
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e4fa', endColorstr='#c3d1f2')"; /* IE8 */
    background-color:#73C561;
	font-weight: normal;
	color: #2c60e5;
	font-size:0.92307692em;    /* 12px divided by 13px */
	text-shadow: 0px 1px 0px #83d485;
	filter: dropshadow(color=#83d485, offX=0, offY=1);
	/*remove extra padding in IE*/
	overflow: visible;
	padding: 0.1em 2.1em;
}


.button-secondary2 {
	border: 1px solid #054ccf;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #e2e4fa, #c3d1f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e2e4fa), color-stop(1, #c3d1f2));
/*	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e2e4fa', EndColorStr='#c3d1f2')";   */
	/* fallback for < 8 versions of IE*/
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e4fa', endColorstr='#c3d1f2'); /* IE6 & IE7 */
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2e4fa', endColorstr='#c3d1f2')"; /* IE8 */
	background-color:#73C561;
	font-weight: normal;
	color: #2c60e5;
	font-size:0.92307692em;   /* 12px divided by 13px */
	/*remove extra padding in IE*/
	overflow: visible;
	padding: 0.1em 2.1em;
}

 .button-primary a, .button-primary a:link, .button-primary a:visited {
	color: #eeeeee;
	text-decoration: none;
}
 .ui-state-hover {
	border: 1px solid #054ccf;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ffffff, #c3d1f2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #c3d1f2));
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#c3d1f2')";    */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#c3d1f2'); /* IE6 & IE7 */
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#c3d1f2')"; /* IE8 */
	font-weight: normal;
	color: #2c60e5;
	text-shadow: none;
	filter:none;
}
 .ui-state-hover a, .ui-state-hover a:hover {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-disabled {
	border: 1px solid #a6a6a6;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dcdcdc));
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dcdcdc')";    */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdcdc'); /* IE6 & IE7 */
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdcdc')"; /* IE8 */
	color:#686868;
	background-color:#CCC;
	text-shadow: none;
	opacity: .75;
	filter:Alpha(Opacity=75);
}

.ui-state-disabled2 {
	border: 1px solid #a6a6a6;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dcdcdc));
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dcdcdc')";        */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdcdc'); /* IE6 & IE7 */
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#dcdcdc')"; /* IE8 */
	color:#686868;
	background-color:#CCC;
	text-shadow: none;
	opacity: .75;
	filter:Alpha(Opacity=75);
}


 .ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}











.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_0078ae_256x240.png); }




.fg-button {
	outline: 0;
	margin:0 4px 0 0;
	padding: 0.1em 2.4em;
	text-decoration:none !important;
	cursor:pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}
.fg-button .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -8px;
}
a.fg-button {
	float:left;
}
/* remove extra button width in IE */
	button.fg-button {
	width:auto;
	overflow:visible;
}
.fg-button-icon-left {
	padding-left: 2.5em;
	padding-right: 1.4em;
}
.fg-button-icon-right {
	padding-right: 2.1em;
}
.fg-button-icon-left .ui-icon {
	right: auto;
	left: 0.8em;
	margin-left: 0;
}
.fg-button-icon-right .ui-icon {
	left: auto;
	right: .2em;
	margin-left: 0;
}
.fg-button-icon-solo {
	display:block;
	width:8px;
	text-indent: -9999px;
}	 /* solo icon buttons must have block properties for the text-indent to work */









/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
	background: url(../../images/sprite-icons.png) no-repeat;
}
/*.ui-widget-content .ui-icon {background-image: url(images/ui-icons_0078ae_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_e0fdff_256x240.png); }*/
.ui-state-hover .ui-icon {
	width: 16px;
	height: 16px;
	background: url(../../images/sprite-icons-hover.png) no-repeat;
}
/*.ui-state-active .ui-icon {background-image: url(images/ui-icons_f5e175_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_f7a50d_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_fcd113_256x240.png); }*/

/* positioning */

.ui-icon-circle-plus { background-position: 0 -34px; }
.ui-state-hover .ui-icon-circle-plus { background-position: 0 -34px; }


.ui-icon-circle-check { background-position: 0 0px; }
.ui-state-hover .ui-icon-circle-check { background-position: 0 0px; }

