body {
	font-family:Arial, Helvetica, sans-serif
}
div.header {
	background-color:#333
}
div.content {
	background-color:#fff;
	min-height:600px;
}
div.footer {
	background-color:#333;
}

.fl-container-700.fl-centered {
	padding-top:1em;
	padding-bottom:1em;
}

.fl-container-700.fl-centered table tr th {
 background-color:;
	
	padding:1em;
	font-size:.8em;
	vertical-align: middle
}
.fl-container-700.fl-centered table tr td {
	background-color:#ffffff;
	padding:1em;
	font-size:.8em
}
.fl-container-700.fl-centered table {
	
}
.fl-container-700.fl-centered h2 {
	
}


.tableborders table tr th {border-bottom: 1px solid #E1E1E1;}
.tableborders table tr td {border-bottom: 1px solid #E1E1E1;}
.tableborders table {border-top: 1px solid #E1E1E1;}
