/*  -------------------  BUTTON STYLES  -------------------  */

.fl-theme-ks .button-primary {
	border-color:#469C3D;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #99DE80, #62D255);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99DE80), color-stop(1, #62D255));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99DE80', EndColorStr='#62D255')";
	/* fallback for < 8 versions of IE*/
	background-color:#73C561;
	/* font styling */
	color: #2A2A2A;
}
.fl-theme-ks .button-secondary1 {
	border-color:#469C3D;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #99DE80, #62D255);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99DE80), color-stop(1, #62D255));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99DE80', EndColorStr='#62D255')";
	/* fallback for < 8 versions of IE*/
	background-color:#73C561;
	color: #2A2A2A;
}

.fl-theme-ks .button-secondary2 {
	border-color:#3F7826;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e2e2e2));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e2e2e2')";
	/* fallback for < 8 versions of IE*/
	background-color:#73C561;
	color: #3F7826;
}
.fl-theme-ks .button-primary a, .button-primary a:link, .button-primary a:visited {
	color: #eeeeee;
}
.fl-theme-ks .ui-state-hover {
	border-color:#07662a ;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #07662a, #044d1f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07662a), color-stop(1, #044d1f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#07662a', EndColorStr='#044d1f')";
	color: #ffffff;
	background-color:#060;
}
.fl-theme-ks .ui-state-hover a, .ui-state-hover a:hover {
	color: #ffffff;
}
.fl-theme-ks .ui-state-disabled {
	border-color:#a6a6a6;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ABDEA5, #C8EABC);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ABDEA5), color-stop(1, #C8EABC));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ABDEA5', EndColorStr='#C8EABC')";
	color:#7fa393;
	background-color:#CCC;
	text-shadow: none;
}

.fl-theme-ks .ui-state-disabled2 {
	border-color:#a6a6a6;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e2e2e2));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e2e2e2')";
	color:#666666;
	background-color:#CCC;
	text-shadow: none;
}
/* Data Table Styles */
    tbody{ border-bottom: 1px solid #000;
    }
    .dataTables_info {margin-top:5px;}
    th.sorting, th.sorting_asc, th.sorting_desc, th.sorting_disabled {
        border-top: 3px solid #000;
        text-align:left;
    }
    th.sorting_asc, th.sorting_desc {
        background-image: url(../images/pattern_dotted.png);
    }
    th.sorting_asc label {
        background-image:  url(../images/sort_asc.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    th.sorting_desc label {
        background-image: url(../images/sort_desc.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    th.sorting label, th.sorting_asc label, th.sorting_desc label, th.sorting_disabled label {
        color:#3F7826;
        font-weight:normal;
        text-transform:uppercase;
    }
    .display td {
        vertical-align:top;
        padding:  3px 10px 3px 3px;
    }

    /* cell colors for sortable table should be white */
   .display tr.odd td.sorting_1, .display tr.even td.sorting_1, table.display tr.odd, table.display tr.even {
        background-color:#ffffff;
    }

/* form attributes */
    .constraint {
        font-size:11px;
    }
    :focus {    /*reset focus state to remove black border*/
        outline: none;
    }
   input:focus, textarea:focus {
    background: none repeat scroll 0 0 #ECFCE8;
}

/* navigation panel styles */
    .navigation-div {width:219px;}
    .navigation-block ul {margin: 0px;}
    #viewpage_div {
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        width: 618px;
    }
    .navigation-div {
        float: left;
        width: 219px;
    }

    a.collapseLink {
        color:#555555;
        font-size:12px;
        float:right;
        padding-right:15px;
        background: url(../images/icon_navCollapse.png) no-repeat right;
    }

    a.collapseLink:hover {
        cursor:pointer;
    }
    .animated-navigation .header {
        clear:both;
        border-top: 2px solid #000;
    }
    .animated-navigation .header h2 {
        margin: 0;
        padding: 10px 0 10px 3px;
        font-size: 12px;
        text-transform:uppercase;
    }
    .animated-navigation li {
        list-style: none;
        border-bottom: 1px solid #bbbbbb;
    }

    .animated-navigation li a {
        display:block;
        width:219px;
        text-decoration:none;
        color: #3F7826;
        padding: 7px 0 7px 3px;
    }
    .animated-navigation li a:hover {
        color:#fff;
            /*defines gradient background*/
	background-image: -moz-linear-gradient(top, #07662a, #044d1f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07662a), color-stop(1, #044d1f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#07662a', EndColorStr='#044d1f')";
	background-color:#060;
    }
    #viewnavigation_div #controlbtn {
        display:none; /*hiding the collapse control at the bottom of nav */
    }