/*  -------------------  HEADER STYLES  -------------------  */

.page-title-header h1 {
	/* [disabled]border-bottom: 1px solid #000; */
	margin:0em;
	
}
.page-action h2 {
	/* [disabled]border-bottom: 1px solid #000; */
	font-weight: normal;
	margin:0em;
}
.page-section-title h3 {
	font-weight: bold;
		margin:0em;
		border-bottom: 2px solid #000;
		
	
}
.section-subhead  h4{
	
	border-bottom: 1px solid #000;
	padding-bottom: 0.3em;
		margin:0em;
	
}
.section-subhead-no-border h4 {
	
	border-bottom:none;
	padding-bottom: 0.3em;
		margin:0em;
}


