/*  -------------------  HEADER STYLES  -------------------  */


h1.header-object-title {

	border-bottom: 1px solid #000;
	margin:0em;

	
}
h2.header-page-title {
	border-bottom: 1px solid #000;
	font-weight: normal;
		margin:0em;
}
h3.header-page-action {
	font-weight: normal;
		margin:0em;
		font-size:2.1em
	
}
h4.header-page-subsection {
	
	border-bottom: 1px dotted #000;
	padding-bottom: 0.3em;
		margin:0em;
	
}
h5.header-page-subhead {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
		margin:0em;
}
