/* -------------------  General  -----------------------*/
/* override the focus "black box"  */
:focus {
   outline: none;
}
/*  -------------------  BUTTON STYLES  -------------------  */

.fl-theme-ks .button-primary {
	border-color:#0b9f53;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #90d875, #55b345);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #90d875), color-stop(1, #55b345));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#90d875', EndColorStr='#55b345')";
	/* fallback for < 8 versions of IE*/
	background-color:#73C561;
	/* font styling */
	color: #044d1f;
}
.fl-theme-ks .button-secondary {
	border-color:#0b9f53;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #90d875, #55b345);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #90d875), color-stop(1, #55b345));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#90d875', EndColorStr='#55b345')";
	/* fallback for < 8 versions of IE*/
	background-color:#73C561;
	color: #044d1f;
}
.fl-theme-ks .button-primary a, .button-primary a:link, .button-primary a:visited {
	color: #eeeeee;
}

.fl-theme-ks .ui-state-hover {
	border-color:#0b9f53;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #07662a, #044d1f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07662a), color-stop(1, #044d1f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#07662a', EndColorStr='#044d1f')";
	color: #ffffff;
	background-color:#060;
}
.fl-theme-ks #tabs .ui-state-hover {
	border-color:#939393;
	background-image:none;
	color:#939393;
}

.fl-theme-ks .ui-state-hover a, .ui-state-hover a:hover {
	color: #ffffff;
}
.fl-theme-ks .ui-state-disabled {
	border-color:#a6a6a6;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dcdcdc));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dcdcdc')";
	color:#686868;
	background-color:#CCC;
	text-shadow: none;
	opacity: .75;
	filter:Alpha(Opacity=75);
}

/* ------------- Tab Styles ------------- */
.fl-theme-ks .fl-tabs {                      ds
	padding-bottom:0;
	border-bottom:none;
	text-align:left;
	padding-left:15px;
}
.fl-theme-ks .fl-tabs-content {
	border-top: 1px solid #000;
}
.fl-theme-ks .fl-tabs a, .fl-theme-ks .fl-tabs-active a {
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-o-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	padding:0px 20px;
	border: 1px solid #939393;
	border-bottom: none;
	text-decoration:none;
}
.fl-theme-ks .fl-tabs-active a {
	background-color:#000;
	border-color:#000;
	color:#fff;
}
.fl-theme-ks .fl-tabs li a {
	margin-left:0px;
}

/*---------------Link Styles  ------------*/
a {font-family: arial, helvetica, sans-serif; color:#3F7826; font-weight:normal;}
a:hover {text-decoration:underline;}

/*--------------font styles (these may already exist?) ------------*/
.required {color:#f00;}