@charset "UTF-8";


/*RESET CSS BEGIN*/

html {
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
legend {
	color:#000;
}

h3 {
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center
}	


/*RESET CSS END*/




body {
	background-color: #EDEDED;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	background-image:url(../images/gradient.png);
	background-position: center 80px;
	background-repeat: no-repeat;
	background-color: #f0f0f0;
}





/*EXPANDABLE HEADER BEGIN*/

div.tab-new {
	background-color:#900;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 8px;
	background-image: url(../images/bg-carbo-red.png);
	background-position: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}
div.tab-new a {
	color:#FFF;
	text-decoration: none;
}
div.tab-new img {
	margin-right:6px
}

/*EXPANDABLE HEADER END*/

/*EXPANDABLE NESTED HEADER BEGIN*/

div.tab-newh3 {
	background-color:#333;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 8px;
	background-position: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
div.tab-newh3 a {
	color:#FFF;
	text-decoration: none;
	font-weight: normal;
}

div.tab-newh3 img { margin-right:6px
}

/*EXPANDABLE NESTED HEADER END*/



.view_header {
	height:80px;
	background-color: #900;
}

.view_header h1{
	color:#FFF;
	font-size: 2.0em;
	padding: 20px;	
}

.page_header {
	padding-bottom: 60px;
}	

.workarea table.datatable
{
	width:100%;
    margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary {
	font-size: small;
	font-style: italic;
	margin-bottom: 5px;
    padding-left: 10px;
	display: inline-block;
}

.required {
	color: red;
}

div.globalbuttons
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.workarea a:link.action
{
	color: #000000;
	text-decoration: underline;
}

.workarea a:visited.action
{
	color: #333333;
	text-decoration: underline;
}

.workarea a:hover.action
{
 	color: #990000;
	text-decoration: underline;
}

.ui-datepicker-trigger
{
	margin-left: 3px;
	vertical-align: middle;
	padding-bottom: 5px;	
}

.field_attribute
{
   vertical-align: middle;
   padding-bottom: 5px;	
   padding-top: 5px;	
}

th.infoline {
	background-color:#998549;
	color: #FFF;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #163746;
	border-left-color: #163746;
}

.labelTop {
	font-weight: bold;
	font-size:95%;
	display:block;
	padding-top: 15px;
	padding-bottom: 5px;
}

.layout_center {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
}

.group_expandclose {
	float:right;
	text-align: right;
}	

.group_expandclose #msg_reqind_REQUIRED {
	display:block;
	font-size: 90%;
}