.navigation-parent-div{
	margin-left: 200px;
}

.navigation-div{
	float: left;
	margin-left: -200px;
	width: 200px;
}

.navigation-block {
   
}

/*
Basic Navigation Menu
*/
ul.basic-navigation {
    list-style: none outside none;
    padding: 0;
    margin-top: 0px;
}

ul.basic-navigation li{
    padding: 0;
}

ul.basic-navigation li.basic-element h3, ul.basic-navigation li.basic-element h2 {
    border-top: 1px solid #D7D7D7;
	border-bottom: 2px solid #D7D7D7;
    color: #333333;
    display: block;
    margin: 0;
    padding: 13px 18px;
    width: 150px;
	font-weight: normal;
	text-transform: uppercase;
}

ul.basic-navigation li.basic-element a {
    display: block;
    padding: 5px 18px;
    width: 150px;
}

ul.basic-navigation li.basic-element a:link {
    border-bottom: 1px solid #D7D7D7;
    color: #333333;
    text-decoration: none;
}

ul.basic-navigation li.basic-element a:hover, ul.basic-navigation li.basic-element a:focus {
    background: none repeat scroll 0 0 #889606;
    color: white;
}

/*
Animated Navigation Menu
*/
ul.animated-navigation {
    list-style: none outside none;
    padding: 0;
    margin-top: 0px;
}
ul.animated-navigation li{
    padding: 0;
}
ul.animated-navigation li.animated-element h3, ul.animated-navigation li.animated-element h2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    color: #333333;
    display: block;
    margin-bottom: 0;
    padding: 5px 18px;
    width: 150px;
	font-weight: normal;
    margin-top: 0px;
}

ul.animated-navigation li.animated-element a {
	background-color: #E3E4E2;
    display: block;
    margin-top: 1px;
	/*
	Changing the padding here will require updating the script to correct return padding (pad_in)
	*/
    padding: 5px 18px;
    width: 150px;
}

ul.animated-navigation li.animated-element a:link {
    border: 1px solid #1A1A1A;
    color: #333333;
    text-decoration: none;
}

ul.animated-navigation li.animated-element a:hover, ul.animated-navigation li.animated-element a:focus {
    background: none repeat scroll 0 0 #889606;
    color: white;
}
ul.animated-navigation li.animated-element a.current {
	background-color:#636D05;
	padding-left: 25px !important;
	color: white;
}

/*
Navigation Slide Control
*/
.panelslider_control {
	position:absolute;
	left:-25px;
	width:30px;
	height:30px;
	z-index: 1;
}

a#controlbtn {
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding-left: 20px;
}
a#controlbtn.open {
	background: transparent url(images/toggle_minus.png) no-repeat left center;
}
a#controlbtn.close {
	background: transparent url(images/toggle_plus.png) no-repeat left center;
}