@charset "UTF-8";


/*RESET CSS BEGIN*/ 

html {
	/*background-color: #F6F6F6;*/
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
body {
	font-size: 85%;
}	
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
legend {
	color:#000;
}

div.wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

div.wrap h2 {
	color:#900;
	font-size: .9em;
	padding-top: 0px;
	padding-bottom: 6px;
	margin-left: 12px;
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}

div.wrap h3 {
	color:#900;
	font-size: .8em;
	padding-top: 0px;
    margin-left: 32px;
    margin-right: 32px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	margin-bottom: 6px;
}

div.wrap h4 {
	font-size: .7em;
	padding-top: 0px;
	border-bottom-width: 1px;
	margin-bottom: 6px;
}

div.fill {
	background-color: #E9E9E8;
	margin-left: 40px;
    margin-right: 40px;
}	

/*EXPANDABLE HEADER BEGIN*/

div.grouping-header-expandable {
	background-color:#900;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	padding: 4px;
	margin-bottom: 8px;
	background-image: url(../../images/bg-carbo-red.png);
	background-position: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}
div.grouping-header-expandable h2 {
	color:#000;
	font-size: 1em;
	border-bottom: none;
	padding-bottom: none;
}	
div.grouping-header-expandable a {
	color:#FFF;
	text-decoration: none;
}
div.grouping-header-expandable img {
	margin-right:6px
}
/*EXPANDABLE HEADER END*/

/*EXPANDABLE NESTED HEADER BEGIN*/

div.tab-newh3 {
	background-color:#333;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 8px;
	background-position: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
div.tab-newh3 a {
	color:#FFF;
	text-decoration: none;
	font-weight: normal;
}

div.tab-newh3 img { margin-right:6px
}

/*EXPANDABLE NESTED HEADER END*/

.view_header {
	height:40px;
	background-color: #FFF;
	color:#000;
	padding-left: 12px;
	background-image: url(../../images/toptexture.png);
}

.view_header h1 {
	font-size: 1.5em;
	padding-top: 8px;	
}	

.page_header {
	padding-bottom: 60px;
}	

.workarea table.datatable
{
	width:100%;
    margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

.summary {
	font-size: 12px;
	margin-bottom: auto;
	display: block;
}

.constraint {
	font-size: 10px;
	color: gray;
	margin-bottom: 5px;
	margin-top: 5px;
	display: block;
}

span.required {
	color: red;
}

div.globalbuttons
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.workarea a:link.action
{
	color: #000000;
	text-decoration: underline;
}

.workarea a:visited.action
{
	color: #333333;
	text-decoration: underline;
}

.workarea a:hover.action
{
 	color: #990000;
	text-decoration: underline;
}

.ui-datepicker-trigger
{
	margin-left: 3px;
	vertical-align: middle;
	padding-bottom: 5px;	
}

span.field_attribute
{
   float: left;
   padding-top: 0px;
   padding-left: 5px;		
}

div.field_attribute
{
   float: left;
   clear: both;
   padding-top: 0px;		
}

td.field_attribute
{
   vertical-align: top;
   padding-bottom: 5px;	
   padding-top: 5px;		
}

th.infoline {
	background-color:#998549;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #163746;
	border-left-color: #163746;
}

.labelTop {
	font-weight: bold;
	font-size:95%;
	display:block;
	padding-bottom: 5px;
}

.layout_center {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
}

.group_expandclose {
	float:right;
	text-align: right;
}	

.group_expandclose #msg_reqind_span {
	display:block;
	font-size: 90%;
}

.group_docheader {
	float: right;
}

.tableborders table {
width:100%;
border-collapse:collapse;
border-top-width:1px;
border-left-width:1px;
border-top-style:solid;
border-left-style:solid;
font-size:1em;
border-color:#CCC;
}

.tableborders th {
background-color:#E5E5E5;
font-weight:700;
border-bottom-width:1px;
border-right-width:1px;
border-bottom-style:solid;
border-right-style:solid;
border-bottom-color:#CCC;
border-right-color:#CCC;
padding:3px;
font-color: #000;
}

.tableborders td {
border-bottom-width:1px;
border-right-width:1px;
border-bottom-style:solid;
border-right-style:solid;
border-bottom-color:#CCC;
border-right-color:#CCC;
padding:3px;
}

.ka-headers {
	padding:8px;
}	

.ka-headers h2 {
	color:#060;
	font-size: 1.2em;
	padding-top: 0px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;	
}

.fg-button-large {
	outline: 0;
	margin:0 4px 0 0;
	padding: .4em 1em;
	text-decoration:none !important;
	cursor:pointer;
	position: relative;
	text-align: center;
	zoom: 1;
	font-size: .8em;
}

td.addrow {
	background-color:#999
}
div.greentab {
	background-color:#333;
	float:left;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	padding:4px;
	color:#CCC;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #333;
	border-left-color: #333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	font-size: 0.8em;
	width: 120px;
	text-align:right;
}
div.green {
 height:;
	background-color:#000;
	color:#fff;
	padding:12px;
	font-size:.8em;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	opacity: .9;
	filter: alpha(opacity=40);
}
div.green .label {
	float:left;
	padding:6px;
	text-align:right;
	width:45%;
	padding-left:0px;
	padding-right:1px;
	color:#CCC
}
div.green .value {
	float:right;
	padding:6px;
	width:50%;
	padding-right:0px;
	font-weight:bold;
	
}

.ui-state-default.ui-corner-all {
	font-size:.8em;
	padding:0em 1em .1em;
	font-weight: bold;
	text-transform: lowercase;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #FFF url(../../images/button-bevel.png) 0px 0px;
}

div.globalbuttons { text-align:center;	padding-top: 10px; padding-bottom: 10px;}

.ui-state-default.ui-corner-all.ui-state-hover {
	background-color:#900;
	color: #FFF;
	border: 1px solid #500;
}

input.amount
{
	text-align: right;
}