.uif-inputField input[type="text"], .uif-inputField .uif-textAreaControl {
  //width: 100%;
}

.uif-inputField .form-control {
  //width: 100%;
}

.uif-inputField input[type="text"].form-control {
 height: 32px;
}

.input-group-addon, .input-group-btn {
  vertical-align: top;
  padding: 0;
}

/** this is necessary because controls have 2px margin, and the group button is display table cell **/
.input-group-addon, .input-group-btn {
  //padding-bottom: 2px;
  width: inherit;
}

/** this is done to increase the clickable target so user does not have to be pixel perfect **/
.input-group-addon > *, .input-group-btn > *{
    padding: 8px 4px;
}


.uif-fieldGroup .input-group-btn .btn {

  margin-bottom: 0px;
}

.input-group-msg {
  width: 1%;
}

.input-group {
  //width: 100%;
}

.input-group-btn > .btn, .input-group-addon {
  border-radius: 4px;
  box-shadow: none;
  height: 32px;
}

.input-group-btn > a {
  display: inline-block;
//  border-top: 1px solid #aaa;
//  border-right: 1px solid #aaa;
//  border-bottom: 1px solid #aaa;
//  color: #1150b0;
//  border-color: #cccccc;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  background-color: #ffffff;
//  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #ffffff), color-stop(52%, #f2f2f2), color-stop(100%, #e6e6e6));
//  background: -webkit-linear-gradient(top, #ffffff 20%, #ffffff 50%, #f2f2f2 52%, #e6e6e6 100%);
//  background: -moz-linear-gradient(top, #ffffff 20%, #ffffff 50%, #f2f2f2 52%, #e6e6e6 100%);
//  background: -o-linear-gradient(top, #ffffff 20%, #ffffff 50%, #f2f2f2 52%, #e6e6e6 100%);
//  background: linear-gradient(top, #ffffff 20%, #ffffff 50%, #f2f2f2 52%, #e6e6e6 100%);
  background-clip: padding-box;
  margin-left: 0px;
}


.input-group-btn > *, .input-group-addon > * {
  padding-left: 15px;
  padding-right: 15px;
}

.input-group-msg {
  display: table-cell;
  vertical-align: top;
  padding-left: 8px;
}

.input-group-msg > .uif-message {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group-btn > a {
  //margin-left: 4px;
}



/** Spinner control *********************************************************************************/
.uif-spinnerControl {
  padding-left: .5em;

}
span.ui-spinner {
  margin-bottom: 2px;
}
span.ui-spinner input {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  box-shadow: none;
  height: 24px;
  margin: 0px;
  -moz-box-shadow: none;
  -moz-transition: none;
  -o-transition: none;
  padding: 0px;
  transition: none;
  -webkit-box-shadow: none;
  -webkit-transition: none;

}

/** InputField specific styles **************************************************************************/

/* positioning for input field control images (calendar, validation icons, etc) */
.uif-inputField > img,
.uif-inputField > a > img,
.uif-inputField > fieldset > img,
.uif-inputField input[type="image"] {
  margin: 3px 0 0 3px;
  vertical-align: top;
}


/** when field has a watermark **/
.watermark {
  color: #999;
}


.uif-verticalRadioFieldset + .input-group-btn a,
.uif-verticalCheckboxesFieldset + .input-group-btn a,
.uif-horizontalCheckboxesFieldset  + .input-group-btn a,
.uif-horizontalRadioFieldset + .input-group-btn a,
.uif-textAreaControl + .input-group-btn a,
.uif-dropdownControl + .input-group-btn a, {
  background: none;
  border: none;
  padding: 4px;
  color: #000;
  margin-left: 8px;
  font-size: 16px
}




.multiselect-container {
  position:absolute;
  list-style-type:none;
  margin:0;
  padding:0;
}

.multiselect-container .input-group {
  margin:5px;
}

.multiselect-container>li>a.multiselect-all label {
  font-weight:700;
}

.multiselect-container>li>label.multiselect-group {
  height:100%;
  font-weight:700;
  margin:0;
  padding:3px 20px;
}

.multiselect-container>li>a>label {
  height:100%;
  cursor:pointer;
  font-weight:400;
  margin:0;
  padding:3px 20px 3px 40px;
}

.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox {
  margin:0;
}

.multiselect-container>li>a>label>input[type=checkbox] {
  margin-bottom:5px;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.multiselect-container>li,.multiselect-container>li>a {
  padding:0;
}




.uif-cssGridLabelCol, .uif-cssGridLabelCol + div[class*="col-"]        {
  margin-bottom: @padding-small-vertical;
}
