a:link {text-decoration: underline; color:#000000}
a:visited {text-decoration: underline; color:#000000}
a:active {text-decoration: underline; color:#000000}
a:hover {
	text-decoration: underline;
	color: #900;
}


.doc_view_header {
	background: #EBEBEB url(../../images/masthead1.gif);
	border-bottom: 1px solid #999;
	min-width:800px;
	margin-bottom: 10px;
}
.view_header {
	background: #EBEBEB url(../../images/masthead1.gif);
	/* [disabled]border-bottom: 1px solid #999; */
	min-width:800px;
	/* [disabled]margin-bottom: 15px; */
	background-color: #EBEBEB;
}
h1 {
	font-size:1em;
	padding-left: 0.6em;
	font-family: "Arial Narrow";
	font-weight: bold;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
#viewheader_div a {
	
}
#viewheader div.doc-info {
	float:right;
}

.left { float:left}
.right { float:right}

td {
	background-color: #FFFFFF;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	padding-left: 0.3em;
	padding-right: 1em;
	vertical-align: middle;
}
#viewheader_div th {
	background-color: #DEDEDE;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 0.3em;
	text-align: right;
	vertical-align: middle;
}

#viewpage_div {
	margin-left:20px;
	margin-right:20px;
}
#viewpage_div .page_header .grouping-header-expandable .panel-content {
	margin-left:12px;
	margin-right:12px;
	margin-bottom: 12px;
}
#viewpage_div .page_header .message {
	display:block;
	font-size: .7em;
	padding-top: 8px;
}
#viewpage_div .page_header .group_expandclose {
	float:right;
	text-align: right;
}
.page_header .globalbuttons {
	text-align:center;
}
.globalbuttons .ui-state-default.ui-corner-all {
	font-size:.8em;
	padding:0em 1em .1em;
	font-weight: bold;
	text-transform: lowercase;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #FFF url(../../images/button-bevel.png) 0px 0px;
	cursor: pointer;
}

div.globalbuttons { text-align:center;	padding-top: 10px; padding-bottom: 10px;}

.globalbuttons .ui-state-default.ui-corner-all.ui-state-hover {
	background-color:#900;
	color: #FFF;
	border: 1px solid #500;
}
.wrap {
	background-color:#E4E4E4;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	margin-bottom: 12px;
	padding: 0px 12px 4px;
}

.summary {
	font-size: 10px;
	color: #333;
	margin-bottom: 2px;
	display: block;
}

.constraint {
	font-size: 10px;
	color: gray;
	margin-bottom: 5px;
	margin-top: 5px;
	display: block;
}

.group_docheader {
	float: right;
	font-size: .9em;
	
}

span.desc {
	color: #000000;
    font-weight: bold;
    white-space: nowrap;
}

.left {
}
.right {
	float:right;
}

.group_expandclose #msg_reqind_span {
	display:block;
	font-size: .8em;

}

/*
* Field Attribute
*/

span.field_attribute
{
   float: left;
   padding-top: 0px;
   padding-left: 5px;		
}

div.field_attribute
{
   float: left;
   clear: both;
   padding-top: 0px;		
}

td.field_attribute
{
   vertical-align: top;
   padding-bottom: 5px;	
   padding-top: 5px;		
}

/* 
 * ErrorsField
*/
.errorsField{
    padding-left: 10px;
	overflow: hidden;
	*zoom: 1;
}

.errorsFieldForContainer{
	float: none;
	padding-left: 10px;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.errorMessages{
	padding-left: 30px;
	background: transparent url(../../images/exclamation-red.png) no-repeat scroll 6px 4px;
}

.warningMessages{
	padding-left: 20px;
	background: url("../../images/exclamation-diamond-frame.png") no-repeat scroll left top transparent;
}

.infoMessages{
	padding-left: 20px;
	background: url("../../images/information-frame.png") no-repeat scroll left top transparent;
}

.errorsFieldForContainer .errorMessages{
	border: 1px solid #E9B2DE;
	background-color: #FFE0E9;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.errorsFieldForContainer .warningMessages{
	border: 1px solid goldenrod;
	background-color: #F4E271;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
}

.errorsFieldForContainer .infoMessages{
	border: 1px solid #82CAFA;
	background-color: #AFDCEC;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
}

.errorsField ul{
	list-style: none outside none;
	margin: 0;
}

.errorsField li{
	list-style: none outside none;
	margin-left: 0;
    padding: 1px 0;
	line-height: 1.3em;
}

.errorsField .errorMessages{
	color: #DF0000;
	font-weight:;
	font-size:.7em;
}

span.clientError, div.clientError, td.clientError, span.serverError, div.serverError, td.serverError{
	background-color: #FFE0E9 !important;
}

span.information, div.information, td.information{
	background-color: #AFDCEC;
}

span.warning, div.warning, td.warning{
	background-color: #F4E271;
}

label.clientError, a.clientError, label.serverError{
	color: #DF0000 !important;
}

li label.error{
	display: inline !important;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* IE specific */
* html .clearfix {height: 1%;}

.boxLayoutHorizontalItem{
	
}

.boxLayoutVerticalItem{
	padding-bottom: 0px;
	display: block;
}

.fieldContainerVerticalItem{
	padding-bottom: 5px;
	display: block;
}


/*
Tab menu
*/
.tab-navigation-block{
	padding: 0 !important;
	padding-left: 20px !important;
	background-color:#D8D8D8;
	font-size:0.8em;
	
}

.tab-navigation-block, .tab-navigation-block li{
	border-bottom: 1px solid #C7C7C7;
}

.tab-navigation-block li{
	float: left;
	list-style: none outside none;
	margin: 0 0.2em 1px 0;
	padding: 0;
	position: relative;
	top: 2px;
	white-space: nowrap;
	clear: none;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
}

.tab-navigation-block li a{
	float: left;
	padding: 0.2em 0.6em;
	text-decoration: none;
}

.tab-navigation-block li.ui-state-active{
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
}

.tab-navigation-block li.ui-state-active a{
	color: black !important;
}

.ui-datepicker-trigger{ 
	cursor: pointer;
	background-image:url(../../images/cal_kns.gif)
}


 #viewpage_div 
 {
	margin-left:20px;  	
  	margin-right:20px;
 }
 #viewpage_div h2 {
	color:#666666;
	margin-top:4px;
	margin-bottom: 4px;
	vertical-align: middle;
	font-size:0.7em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.action {
	text-decoration:underline;
	font-size: 0.8em;
}

input.amount
{
	text-align: right;
}

 #viewfooter_div  {
	text-align:center;
}



table.datatable th[scope="row"].collection-header {
	padding: 0em;
	text-align: left;
}	

.fl-theme-ks { text-align:center; padding-bottom:1em}


 .breadcrumbs{
	border-bottom: 1px dotted #C9C9C9;
	border-top: 1px dotted #C9C9C9;
	clear: both;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	padding: 3px 0 3px 15px;
	background: #666666;
	font-size: 0.7em;
	
 }
 
 .breadcrumbs span{
	color: #FFF;
 }
 
 .breadcrumbs a{
	color: #FFF;
	text-decoration: underline;
 }
 
 .breadcrumbs a:visited{
	color: #FFF;
	text-decoration: underline;
 }
 
 .breadcrumbs a:focus, .breadcrumbs a:hover{
 	text-decoration: underline;
 }
 
 .breadcrumbs .current{
	color: #FFF;
 }

.info-field {
    font-size: xx-small;
	color: #7E7E7E;
	font-weight: normal;
    padding-bottom: 3px;
    display: block;
}

.info-message-error {
    font-size: xx-small;
	color: red;
	font-weight: normal;
    padding-bottom: 3px;
}

img.expand_collapse-buttons[alt="expand"] {
	background: url(../../images/h2_expand-back-kns.png);
	background-repeat:no-repeat;
    float: left;
    margin-left: 12px;
    margin-right: 3px;
    margin-top: 8px;
}

img.expand_collapse-buttons[alt="collapse"] {
	background: url(../../images/h2_collapse-back-kns.png);
	background-repeat:no-repeat;
    float: left;
    margin-left: 12px;
    margin-right: 3px;
    margin-top: 8px;
}

.group-actions {
    float: right;
    margin-bottom: 5px;
}

h3 img.expand_collapse-buttons[alt="expand"] {
	background: url(../../images/h3_expand-back-kns.png);
	background-repeat:no-repeat;
}

h3 img.expand_collapse-buttons[alt="collapse"] {
	background: url(../../images/h3_collapse-back-kns.png);
	background-repeat:no-repeat;
}
#IncidentStackGroup_layout {
	font-size:.7em;
	overflow: auto;
}
.navigation-parent-div{
	margin-left: 225px;
}

.navigation-div{
	float: left;
	margin-left: -225px;
}

.navigation-block {
   float: left;
   width: 219px;
}

/*
Basic Navigation Menu
*/
ul.basic-navigation {
    list-style: none outside none;
    padding: 0;
    margin-left: 25px;
    font-size: .95em;
}

ul.basic-navigation li{
    padding: 0;
    border-bottom: 1px solid #bebebe;
}

ul.basic-navigation li.basic-element h3, ul.basic-navigation li.basic-element h2 {
    border-top: 1px solid black;
    color: black;
    display: block;
    margin: 0;
    padding: 5px 10px;
	font-weight: bold;
	font-weight: 0.9em;
	text-transform: uppercase;
	font-size: .9em;
}

ul.basic-navigation li.basic-element a {
    display: block;
    padding: 5px 10px;
}

ul.basic-navigation li.basic-element a:hover, ul.basic-navigation li.basic-element a:focus {
    background-image: -moz-linear-gradient(top, #07662a, #044d1f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07662a), color-stop(1, #044d1f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#07662a', EndColorStr='#044d1f')";
	background-color:#060;
    color: white;
    text-decoration: none;
}

ul.basic-navigation li.basic-element a.current, ul.basic-navigation li.basic-element a.current:hover {
	background-color:#000;
	color: white;
}

/*
Animated Navigation Menu
*/
.animated-navigation h2.fl-font-serif {
    font-family:arial, sans-serif;
    font-size: 12px;
}
ul.animated-navigation {
    list-style: none outside none;
    padding: 0;
    margin-top: 0px;
}
ul.animated-navigation li{
    padding: 0;
}
ul.animated-navigation li.animated-element h3, ul.animated-navigation li.animated-element h2 {
    color: #333333;
    display: block;
    margin-bottom: 0;
    padding: 0 20px 0 3px;
    width: 200px;
	font-weight: bold;
    margin-top: 20px;
    font-size: .9em;
    font-family:arial, sans-serif;
    text-transform:uppercase;
    border-top: 2px solid #000;
    border-bottom: 1px solid #bbb;
}

ul.animated-navigation li.animated-element a {
	background-color: #F5F5F5;
	display: block;
	/*
	Changing the padding here will require updating the script to correct return padding (pad_in)
	*/
    padding: 5px 20px 5px 3px;
	width: 200px;
	color: #333333;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
}

ul.animated-navigation li.animated-element a:hover, ul.animated-navigation li.animated-element a:focus {
	/*background-image: -moz-linear-gradient(top, #07662a, #044d1f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07662a), color-stop(1, #044d1f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#07662a', EndColorStr='#044d1f')";*/
	background-color:#333;
	color: white;
}
ul.animated-navigation li.animated-element a.current, ul.animated-navigation li.animated-element a.current:hover {
	background-color:#000;
    background-image:none;
	padding-left: 3px !important;
	color: white;
}
li.animated-element {
    list-style: none outside none;
}

/*
Navigation Slide Control
*/

.slideLink{
	padding-left: .5em;
	font-size: .9em;
	float: left;
}

.collapseLink{
	float: right;
	font-size: 0.9em;
	padding-bottom: 5px;
	color: #666;
	padding-top: 5px;
}
#controlbtn.slideLink {
    background:  url(../../images/icon_navCollapse.jpg) left no-repeat;
    color: transparent;
}
#controlbtn.closed {
    background: url(../../images/icon_navExpand.jpg) right no-repeat;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../../images/sort_asc_kns.png') no-repeat center right;
}

.sorting_desc {
	background: url('../../images/sort_desc_kns.png') no-repeat center right;
}

.sorting {
	background: url('../../images/sort_both_kns.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../../images/sort_asc_disabled_kns.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../../images/sort_desc_disabled_kns.png') no-repeat center right;
}





.ui-tabs .ui-tabs-nav { margin: 0 0 0 15px; padding: .2em .2em 0;}
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0 10px; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li.ui-state-default a { float: left; padding: .1em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-state-active a, .ui-tabs .ui-tabs-nav li.ui-state-default a { float: left; padding: .3em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .ui-tabs .ui-tabs-nav li.ui-state-default { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	background: none repeat scroll 0 0 transparent;
	border-top: 1px solid #CCC;
	clear: left;
	display: block;
	padding: 1em 1.4em;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	}
.ui-tabs .ui-tabs-hide { display: none !important; }





span.labelTop{ font-size:.7em}



table.datatable table.datatable {
	font-size:1.4em;
}



.fl-font-serif.fl-font-size-150.page-action a {

	margin:0em;
}
.fieldLine.boxLayoutVerticalItem.clearfix  .fieldLine.boxLayoutVerticalItem.clearfix span {
	/*display:block;*/
}

span .fieldLine.boxLayoutVerticalItem.clearfix span .fieldLine.boxLayoutVerticalItem.clearfix tr .col1 {
	background-color: inherit;
	 text-align:right;
}

.kr-mvQuickfinder-cntr {
    font-size: 0.7em;
    float:right;
    clear: both;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 10px;
}