.page_header .grouping-header-expandable .panel-content table {
	border-collapse:collapse;
	width:100%;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
.view_header .doc-info table {
	height:55px;
	border-left: 1px solid #999;
}
.view_header td, th {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.view_header td  { background-color:#FFF
}

.view_header th  {
	background-color:#DEDEDE;
	font-weight: bold;
}


table.datatable th {
	background-color:#f1f1f1;
	font-weight:bold;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	padding-left:1em;
	padding-right:0.3em;
	vertical-align: middle;
}
table.datatable td {
	background-color:#fff;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	padding-right:1em;
	padding-left:.3em;
	vertical-align: middle;
}

table.datatable td, th {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	vertical-align: middle;
	font-size:0.7em;
	
}

table.datatable th[scope="row"].collection-header {
	padding: 0px;
	text-align: left;
}	

table.datatable td.collection-header {
	padding: 0em;
	text-align: left;
	border-style: none;
}	

table.datatable th[scope="col"] {
	text-align:center;
	font-size:0.7em;
	padding:0.5em;
}

table.datatable th[scope="row"] {
	text-align:right;
	vertical-align: middle;
	background: url(../../images/th-back.gif);
	padding:0.5em;
}

table.datatable th[colspan="2"] {
	text-align:left;
	background-image:none;
	background-color:#CCC;
}


.collection-header th[scope="row"] { 
	text-align: left;
	vertical-align: middle;
	border:none;
}


table.datatable {
	border-collapse:collapse;
	width:100%;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}


.dataTables_info, .dataTables_length{ font-size:.7em}

tr .field_attribute.group_docnotes-addField {
	background: url(../../images/th-back1.gif) bottom;
}

 tr .collection-header {
	color:#000;
	background-image:none;
	/* [disabled]background-color:#C3C3C3; */
	padding-top: 0.5em;
}
#viewpage_div  h3 {
	background-color:#666;
	font-weight: bold;
	color: #FFF;
	padding: 0.3em 0.5em;
	border-bottom: 1px solid #999;
	text-align: left;
}


#viewpage_div  h4 {
	background-color:#CCC;
	font-weight: bold;
	font-size:.7em;
	color: #000;
	padding: 0.3em 0.5em;
	border-bottom: 1px solid #999;
}


#viewpage_div th h4 {
	font-weight: bold;
	/* [disabled]background-color:#E0E1E1; */
	/* [disabled]font-size:0.7em; */
	color: #000;
	/* [disabled]padding:0.5em; */
	border-bottom: none;
}
 #view_div #kualiForm #viewlayout_div #viewpage_div span .fieldLine.boxLayoutVerticalItem.clearfix span tbody tr th  span  .fl-font-serif.fl-font-size-120.page-section-title { font-size:1em
}
