.fl-theme-ks .button-primary, .ui-widget-content .button-primary, .ui-widget-header .button-primary {
	font-size:0.7em;
	padding:0em 1em .1em;
	font-weight: bold;
	text-transform: lowercase;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e6e6e6')";
	color:#900;
	border: 1px solid #999;
	background-color:#FFF;	
}
.fl-theme-ks .button-secondary1, .ui-widget-content .button-secondary1, .ui-widget-header .button-secondary1 {
	border: 1px solid #999;
	/*defines gradient background*/
	background-image: -moz-linear-gradient(top,  #e6e6e6,  #e6e6e6);
	background-image: -webkit-gradient(linear, left top, left bottom,  color-stop(0, #e6e6e6),  color-stop(1, #e6e6e6));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#e6e6e6')";
	font-weight: normal;
	color: #9c1c1c;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform: lowercase;
	padding:0px .5em;
	background-color:#FFF;	
	
}
.fl-theme-ks .button-primary a, .button-primary a:link, .button-primary a:visited {
	color: #eeeeee;
	text-decoration: none;
}
.fl-theme-ks .ui-corner-all {
	
}
.fl-theme-ks .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #610000;
	background-color:#900;
	background-image:none;
	/* [disabled]font-weight: bold; */
	color: #ffffff;
	text-shadow: none;
	filter:none;
}
.fl-theme-ks .ui-state-hover a, .ui-state-hover a:hover {
	color: #ffffff;
	text-decoration: none;
}
.fl-theme-ks .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image:;
}


/* breadcrumbs */

.kr-breadcrumbs { 					/* was .breadcrumbs */
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	display: block;
	width: 100%;
	color: #FFFFFF;
	letter-spacing: 0.02em;
	padding: 3px 0 5px 15px;
	background: #333;
 }
 
 .kr-breadcrumbs span {  /* was .breadcrumbs span*/
	color: #FFFFFF;
	font-size:.8em;
	
 }
 
 .kr-breadcrumbs a {		/*  was .breadcrumbs a*/
	color: #FFFFFF;
	text-decoration: none;
	font-size:.8em; 
 }
 
 .kr-breadcrumbs a:visited{		/* was .breadcrumbs a:visited*/
	color: #FFFFFF;
	text-decoration: none;
 }
 
 .kr-breadcrumbs a:focus, .kr-breadcrumbs a:hover{  /* was .breadcrumbs a:focus, .breadcrumbs a:hover*/
 	text-decoration: underline;
 }
 
 .kr-breadcrumbs .current{  /*  was .breadcrumbs .current*/
	color: #FFFFFF;
	font-weight: bold;
	font-size:0.8em;
 }

 .kr-breadcrumbs ol, li{   /* was .breadcrumbs ol, li*/
    display: inline;
    margin: 0;
    list-style: none;
    width: auto;
}
