.viewHeader {
    margin-top: 20px;
    .metadata {
        display: block;
        float: right;
    }
    h1 {
        margin: 0px;
        .areaTitle {
            display: block;
            font-size: 11px;
            color: #666;
            font-weight: normal;
            line-height: 0px;
        }
        .supportTitle {
            display: block;
            font-size: 20px;
        }
        a {
            span[class*='icon-'] {
                font-size: 20px;
                .icon-text {
                    display: none;
                }
            }
        }
        .headerText {
            font-size: 32px;
        }
    }
}