.uif-actionBar {
  font-size: 13px;
  padding-left: 0px;
  margin-top: 6px;
  padding: 6px;
  margin-top: 10px;
  background: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: right;
  width: 100%;
  text-align: right;
  .dropdown-menu {
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    li {
      display: inline;
      color: #666;
      a {
        padding-left: 2px;
        margin-right: 16px;
      }
      .icon {
        color: #aaa;
      }
    }
    li.uif-page-help {
      line-height:0;
      position:relative;
      margin-left:5px;
      .icon-question-sign {
        font-size:20px;
        cursor:pointer;
        position:absolute;
        bottom:-3px;
        left:0 px;
        padding:0 3px;
        color:#0055CC;
      }
      .caret {
        margin-left:23px;
      }
      .dropdown-menu {
        left:-139px;
        padding:0;
        li {
          width:100%;
          float:left;
          a {
            width:100%;
            min-width:150px;
            padding:5px;
          }
        }
      }
    }
  }
  span {
    color: #999;
    display: inline-block;
    margin-right: 4px;
  }
}
.uif-actionBar ul li:hover .icon,.uif-actionBar ul li:focus .icon {
  color: #0055cc;
}

