body {
	background-color: #F6F6F6;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
}
div#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
div#maincontent {
	position: relative;
	margin-left: 150px;
}


div#maincontent-kfs {
	position: relative;
	margin-left: 150px;
}


div#maincontent H1 {
	color:#666;
	font-size: 1.8em;
	padding-top: 12px;
	padding-bottom: 12px;
}



/*EXPANDABLE HEADER BEGIN*/

div.grouping-header-expandable {
	background-color:#900;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 8px;
	background-image: url(../../images/bg-carbo-red.png);
	background-position: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}
div.grouping-header-expandable a {
	color:#FFF;
	text-decoration: none;
}
div.grouping-header-expandable img {
	margin-right:6px
}
/*EXPANDABLE HEADER END*/

/*EXPANDABLE NESTED HEADER BEGIN*/

div.grouping-header-expandableh3 {
	background-color:#333;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 8px;
	background-position: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
div.grouping-header-expandableh3 a {
	color:#FFF;
	text-decoration: none;
	font-weight: normal;
}
div.grouping-header-expandableh3 img {
	margin-right:6px
}
/*EXPANDABLE NESTED HEADER END*/


/*KFS STYLE DOC HEADER*/


#doc_header {
	height:40px;
	background-color: #FAFAFA;
	color:#000;
	font-size: 2em;
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
	background-image: url(../../images/toptexture.png);
}
/*KS STYLE DOC HEADER*/

#ks_header {
	height:40px;
	background-color: #060;
	color:#FFF;
	font-size: 2em;
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
	background-image: url(../../images/toptexture.png);
}
#ks_header h1 {
	color:#666;
	font-size: 2em;
	padding: 20px;
	font-weight: bold;
}